<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<!-- Title Page-->
<title>Dashboard</title>

<!-- Fontfaces CSS-->
<link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
<link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all">

<!-- Bootstrap CSS-->
<link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}"
	rel="stylesheet" media="all">

<!-- Vendor CSS-->
<link th:href="@{/vendor/animsition/animsition.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
<link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
<link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet"
	media="all">
<link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"
	rel="stylesheet" media="all">

<!-- Main CSS-->
<link th:href="@{/css/theme-admin.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
	<div class="page-wrapper">


		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a th:href="@{/admindemo/home}"> <img src="/images/nhalogo.png"
					alt="Cool Admin" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">

						<li><a th:href="@{/admindemo/home}"> <i
								class="fas fa-chart-bar"></i>Statistical
						</a></li>
						<li><a th:href="@{/admindemo/adminUserStatistics}"> <i
								class="fas fa-chart-bar"></i>User Statistics
						</a></li>
						<li><a th:href="@{/admindemo/adminProfitStatistics}"> <i
								class="fas fa-chart-bar"></i>Profit Statistics
						</a></li>
						<li><a th:href="@{/admindemo/adminUser}"> <i
								class="fas  fa-users"></i>User Manager
						</a></li>
						<li><a th:href="@{/admindemo/adminPost}"> <i
								class="fas fa-table"></i>Post Manager
						</a></li>
						<li><a th:href="@{/admindemo/adminFeedback}"> <i
								class="fas fa-comments"></i>Feedback Manager
						</a></li>
						<li><a th:href="@{/admindemo/adminFeedback}"> <i
								class="fas fa-upload"></i>Post waiting for approval
						</a></li>


					</ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="header-wrap">
							<form class="form-header" action="#"></form>
							<div class="header-button">
								<div class="noti-wrap">
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-comment-more"></i> <span class="quantity">0</span>
										<div class="mess-dropdown js-dropdown">
											<div class="mess__footer">
												<a href="#">View all messages</a>
											</div>
										</div>
									</div>
									<div class="noti__item js-item-menu">
										<i class="zmdi zmdi-notifications"></i> <span class="quantity">3</span>
										<div class="notifi-dropdown js-dropdown">
											<div class="notifi__title">
												<p>You have 3 Notifications</p>
											</div>
											<div class="notifi__item">
												<div class="bg-c1 img-cir img-40">
													<i class="zmdi zmdi-email-open"></i>
												</div>
												<div class="content">
													<p>You got a email notification</p>
													<span class="date">April 12, 2018 06:50</span>
												</div>
											</div>
											<div class="notifi__item">
												<div class="bg-c2 img-cir img-40">
													<i class="zmdi zmdi-account-box"></i>
												</div>
												<div class="content">
													<p>Your account has been blocked</p>
													<span class="date">April 12, 2018 06:50</span>
												</div>
											</div>
											<div class="notifi__item">
												<div class="bg-c3 img-cir img-40">
													<i class="zmdi zmdi-file-text"></i>
												</div>
												<div class="content">
													<p>You got a new file</p>
													<span class="date">April 12, 2018 06:50</span>
												</div>
											</div>
											<div class="notifi__footer">
												<a href="#">All notifications</a>
											</div>
										</div>
									</div>
								</div>
								<div class="account-wrap">
									<div class="account-item clearfix js-item-menu">
										<div class="image">
											<img src="/images/icon/avatar-01.jpg" alt="John Doe" />
										</div>
										<div class="content">
											<a class="js-acc-btn" href="#">Admin</a>
										</div>
										<div class="account-dropdown js-dropdown">
											<div class="info clearfix">
												<div class="image">
													<a href="#"> <img src="/images/icon/avatar-01.jpg"
														alt="John Doe" />
													</a>
												</div>
												<div class="content">
													<h5 class="name">
														<a href="#">john doe</a>
													</h5>
													<span class="email">johndoe@example.com</span>
												</div>
											</div>
											<div class="account-dropdown__body">
												<div class="account-dropdown__item">
													<a href="#"> <i class="zmdi zmdi-account"></i>Account
													</a>
												</div>

											</div>
											<div class="account-dropdown__footer">
												<a href="#"> <i class="zmdi zmdi-power"></i>Logout
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- END HEADER DESKTOP-->


			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h4>User statistics</h4>
									</div>
									<div class="card-body">
										<div class="default-tab">
											<nav>
												<div class="nav nav-tabs" id="nav-tab" role="tablist">
													<a class="nav-item nav-link active" id="nav-home-tab"
														data-toggle="tab" href="#nav-home" role="tab"
														aria-controls="nav-home" aria-selected="true">Theo Ngày</a> <a
														class="nav-item nav-link" id="nav-profile-tab"
														data-toggle="tab" href="#nav-profile" role="tab"
														aria-controls="nav-profile" aria-selected="false">Theo tháng</a>

												</div>
											</nav>
											<div class="tab-content pl-3 pt-2" id="nav-tabContent">
												<div class="tab-pane fade show active" id="nav-home"
													role="tabpanel" aria-labelledby="nav-home-tab">
													<div class="row m-t-60">
														<div class="col-lg-12">
															<div class="au-card m-b-30">
																<div class="au-card-inner">
																	<h3 class="title-2 m-b-40">Số lượng</h3>
																	<canvas id="singelBarChartWeek"></canvas>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="nav-profile" role="tabpanel"
													aria-labelledby="nav-profile-tab">
													<div class="row m-t-60">
														<div class="col-lg-12">
															<div class="au-card m-b-30">
																<div class="au-card-inner">
																	<h3 class="title-2 m-b-40">Số lượng</h3>
																	<canvas id="singelBarChartMonth"></canvas>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT-->
			<!-- END PAGE CONTAINER-->
		</div>

	</div>

	<!-- Jquery JS-->
	<script src="/vendor/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap JS-->
	<script src="/vendor/bootstrap-4.1/popper.min.js"></script>
	<script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
	<!-- Vendor JS       -->
	<script src="/vendor/slick/slick.min.js">
		
	</script>
	<script src="/vendor/wow/wow.min.js"></script>
	<script src="/vendor/animsition/animsition.min.js"></script>
	<script
		src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
		
	</script>
	<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
	<script src="/vendor/counter-up/jquery.counterup.min.js">
		
	</script>
	<script src="/vendor/circle-progress/circle-progress.min.js"></script>
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
	<script src="/vendor/select2/select2.min.js">
		
	</script>

	<!-- Main JS-->
	<script src="/js/mainadmin.js"></script>
	<script type="text/javascript" th:inline="javascript" >
        
    try {
    
	var items = [];
	
	/*[# th:each="n : ${ls}"]*/
	
	items.push("[(${n})]");

	/*[/]*/


    // single bar chart
    var ctx = document.getElementById("singelBarChartWeek");
    if (ctx) {
      ctx.height = 150;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Sun", "Mon", "Tu", "Wed", "Th", "Fri", "Sat"],
          datasets: [
            {
              label: "User",
              data:items,
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "rgba(0, 123, 255, 0.5)"
            }
          ]
        },
        options: {
          legend: {
            position: 'top',
            labels: {
              fontFamily: 'Poppins'
            }
    
          },
          scales: {
            xAxes: [{
              ticks: {
                fontFamily: "Poppins"
    
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                fontFamily: "Poppins"
              }
            }]
          }
        }
      });
    }
    
    } catch (error) {
    console.log(error);
    }

    </script>
    
    <script  >
        
    try {
    
    // single bar chart
    var ctx = document.getElementById("singelBarChartMonth");
    if (ctx) {
      ctx.height = 150;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7"],
          datasets: [
            {
              label: "User",
              data: [40, 75, 175, 111, 156, 355, 290],
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "rgba(0, 123, 255, 0.5)"
            }
          ]
        },
        options: {
          legend: {
            position: 'top',
            labels: {
              fontFamily: 'Poppins'
            }
    
          },
          scales: {
            xAxes: [{
              ticks: {
                fontFamily: "Poppins"
    
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                fontFamily: "Poppins"
              }
            }]
          }
        }
      });
    }
    
    } catch (error) {
    console.log(error);
    }

    </script>
</body>

</html>
<!-- end document-->
