<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>

<head>

</head>
<body>
<header th:fragment="header">
    	<!--Start Header Top Area-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<div class="info">
						<div class="phn-num float-left">
							<i class="fa fa-phone float-left"></i>
							<p>(000) 123 288 456 </p>
						</div>
						<div class="mail-id float-left">
							<i class="fa fa-envelope-o float-left"></i>
							<p><a href="#">info@booker.com</a></p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="socials text-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div id="top-menu" class="float-right">
						<ul>
							<li><a th:href="@{/bookstore/login}">Login</a></li>
							<li><a href="">$USD <i class="fa fa-angle-down"></i></a>
								<ul>
									<li><a href="">Pound</a></li>
									<li><a href="">BDT</a></li>
								</ul>
							</li>
							<li><a href="">English(UK) <i class="fa fa-angle-down"></i></a>
								<ul>
									<li><a href="">English(USA)</a></li>
									<li><a href="">Bangla</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Header Top Area-->
	<div class="header-area">
		<!--Start Header Area-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-lg-3">
					
				</div>
				<div class="col-sm-4 col-lg-6">
					<div class="logo text-center">
						<a th:href="@{/bookstore/home}">
							<img src="/img/header/booklogo.png" alt="" />
							<h4>online book store</h4>
						</a>
					</div>
				</div>
				<div class="col-sm-4 col-lg-3">
					<div class="cart-info float-right">
						<a th:href="@{/bookstore/cart}">
							<h5>My cart <span>2</span> items - <span>390.000 vnđ</span></h5>
							<i class="fa fa-shopping-cart"></i>
						</a>
						
					</div>
					<div class="search float-right">
						<input type="text" value="" placeholder="Search Here...." />
						<button class="submit"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Header Area-->
	<!--Start Main Menu Area-->
	<div class="container">
		<div class="row">
			<div class="clo-md-12">
				<div class="main-menu hidden-sm hidden-xs">
					<nav>
						<ul>
							<li><a th:href="@{/bookstore/home}" class="active">Home</a>
							</li>
							
							<li><a th:href="@{/bookstore/shopList}">Shop</a>

							
							<li><a th:href="@{/bookstore/blog}">Blog</a>
								
							</li>
							<li><a th:href="@{/bookstore/aboutUs}">About Us</a></li>
							<li><a th:href="@{/bookstore/contact}">Contact</a>

							</li>
						</ul>
					</nav>
				</div>
				<!-- mobile  style-->
				<div class="mobile-menu hidden-md hidden-lg">
					<nav>
						<ul>
							<li><a th:href="@{/bookstore/home}" class="active">Home</a>

							</li>
							
							<li><a th:href="@{/bookstore/shopList}">Shop</a>

							</li>
							
						
						<li><a th:href="@{/bookstore/blog}">Blog</a>

						</li>
						<li><a th:href="@{/bookstore/aboutUs}">About Us</a></li>
						<li><a th:href="@{/bookstore/contact}">Contact</a>

						</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<!--End Main Menu Area-->
</header>


</body>


</html>