<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="head :: head">

</head>

<body>
	<div class="header-top">
		<!--Start Header Top Area-->
		<header th:replace="header :: header"> </header>
	</div>
	<div class="page-title fix">
		<!--Start Title-->
		<div class="overlay section">
			<h2>Product Details</h2>
		</div>
	</div>
	<!--End Title-->
	<section class="product-page page fix">
		<!--Start Product Details Area-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="details-pro-tab">
						<!-- Tab panes -->
						<div class="tab-content details-pro-tab-content">
							<div class="tab-pane fade in active" th:id="${image[0].id}">
								<div class="simpleLens-big-image-container">
									<a class="simpleLens-lens-image"
										th:data-lens-image="@{'/img/upload/' + ${image[0].link}}"> <img
										th:src="@{'/img/upload/' + ${image[0].link}}" alt=""
										class="simpleLens-big-image">
									</a>
								</div>
							</div>

						</div>
						<!-- Nav tabs -->
						<ul class="tabs-list details-pro-tab-list" role="tablist">

							<li th:each="img : ${image}"><a th:href="@{'#'+${img.id}}"
								data-toggle="tab"> <img
									th:src="@{'/img/upload/' + ${img.link}}" alt="" />
							</a></li>

						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="shop-details">
						<!-- Product Name -->
						<h2 th:text="${book.name}"></h2>
						<!-- Product Ratting -->
						<div class="pro-ratting">
							<i class="on fa fa-star"></i> <i class="on fa fa-star"></i> <i
								class="on fa fa-star"></i> <i class="on fa fa-star"></i> <i
								class="on fa fa-star-half-o"></i>
						</div>
						<h2>
							<span th:text="${book.price}" class="money" ></span>VNĐ
						</h2>
						<h2>Tác giả:</h2>
						<h3 th:text="${book.author}" ></h3>
						
						<h6>Mô tả:</h6>
						<p th:text="${book.description}"></p>
						<div class="select-menu fix">
							<div class="sort fix">
								<h4>Số lượng</h4>
								<div class="cart-plus-minus">
									<input type="text" value="1" name="qtybutton"
										class="cart-plus-minus-box">
								</div>
							</div>

						</div>
						<div class="review">
							<textarea rows="4" placeholder="Write Your Review..."></textarea>
						</div>
						<div class="action-btn" th:data-id="${book.id}">
							<a  class="btn-addcart"><i class="fa fa-shopping-cart"></i></a> <a href="#"><i
								class="fa fa-heart-o"></i></a> <a href="#"><i
								class="fa fa-refresh"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 fix">
					<div class="description">
						<!-- Nav tabs -->
						<ul class="nav product-nav">
							<li class="active"><a data-toggle="tab" href="#description">Mô Tả</a></li>
							<li class=""><a data-toggle="tab" href="#review">Nhận xét</a></li>

						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div id="description" class="tab-pane fade active in"
								role="tabpanel">
								<p th:text="${book.description}"></p>
							</div>
							<div id="review" class="tab-pane fade" role="tabpanel">
								
								<p>Chưa có nhận xét.</p>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-12 fix">
					<div class="section-title">
						<h2>Sách gợi ý</h2>
						<div class="underline"></div>
					</div>
					<div class="related-pro-slider owl-carousel">
						<!-- Single Product Start -->
						<div class="product-item fix" th:each="suggestion : ${listsuggestions}">
							<div class="product-img-hover">
								<!-- Product image -->
								<a href="product-details.html" class="pro-image fix"><img
									th:src="@{'/img/upload/' + ${suggestion.image[0].link}}" alt="product" /></a>
								<!-- Product action Btn -->
								<div class="product-action-btn">
									<a class="quick-view" href="#"><i class="fa fa-search"></i></a>
									<a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
									<a class="add-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
								</div>
							</div>
							<div class="pro-name-price-ratting">
								<!-- Product Name -->
								<div class="pro-name">
									<a  th:href="@{'/bookstore/detailBook/'+${suggestion.id}}" th:text="${suggestion.name}"></a>
								</div>
								<!-- Product Ratting -->
								<div class="pro-ratting">
									<i class="on fa fa-star"></i> <i class="on fa fa-star"></i> <i
										class="on fa fa-star"></i> <i class="on fa fa-star"></i> <i
										class="on fa fa-star-half-o"></i>
								</div>
								<!-- Product Price -->
								<div class="pro-price fix">
									<p>
										<span class="new money" th:text="${suggestion.price}" ></span><span>VNĐ</span>
									</p>
								</div>
							</div>
						</div>
						<!-- Single Product End -->
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Product Details Area-->

	<div class="support-area section fix">
		<!--Start Support Area-->
		<div class="container">
			<div class="row">
				<div class="support col-sm-3">
					<i class="fa fa-thumbs-up"></i>
					<h3>High quality</h3>
					
				</div>
				<div class="support col-sm-3">
					<i class="fa fa-bus"></i>
					<h3>Fast Delivery</h3>
					
				</div>
				<div class="support col-sm-3">
					<i class="fa fa-phone"></i>
					<h3>24/7 support</h3>
					
				</div>
				<div class="support col-sm-3">
					<i class="fa fa-random"></i>
					<h3>14 - Day Returns</h3>
					
				</div>
			</div>
		</div>
	</div>
	<!--Start Support Area-->
	<div class="footer-top-area fix">
		<!--Start Footer top area-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="footer-about">
						<div class="image">
							<img src="/img/header/booklogo.png" alt="" />
							<h3>online book store</h3>
						</div>
						
					</div>
					<div class="footer-contact">
						<div class="single-contact">
							<div class="icon">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="details">
								<p>Nong Lam University</p>
								
							</div>
						</div>
						<div class="single-contact">
							<div class="icon">
								<i class="fa fa-phone"></i>
							</div>
							<div class="details">
								<p>+012 456 456 456</p>
								<p>+012 356 897 222</p>
							</div>
						</div>
						<div class="single-contact">
							<div class="icon">
								<i class="fa fa-dribbble"></i>
							</div>
							<div class="details">
								<a href="#">info@bookstore.com</a>
								<a href="#">www.bookstore.com</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="footer-quick-link footer-links">
						<h2>QUICK LINK</h2>
						<ul>
							<li><a th:href="@{/bookstore/home}">Home</a></li>
							<li><a th:href="@{/bookstore/shopList}">Shop</a></li>
							<li><a th:href="@{/bookstore/blog}">Blog</a></li>
							<li><a th:href="@{/bookstore/contact}">Contact</a></li>
							<li><a th:href="@{/bookstore/aboutUs}">About Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="row">
						<div class="col-sm-8 footer-support footer-links">
							<h2>OUR SUPPORT</h2>
							<ul>
								<li><a href="#">Site Map</a></li>
								<li><a href="#">privacy Policy</a></li>
								<li><a href="#">Help & FAQs</a></li>
								<li><a th:href="@{/bookstore/contact}">Contact Us</a></li>
							</ul>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!--Start Footer top area-->


	<!-- jQuery 2.1.4 -->
	<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	<!-- Bootstrap JS -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!-- Owl Carousel JS -->
	<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
	<!--countTo JS -->
	<script type="text/javascript" src="/js/jquery.countTo.js"></script>
	<!-- mixitup JS -->
	<script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
	<!-- magnific popup JS -->
	<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
	<!-- Appear JS -->
	<script type="text/javascript" src="/js/jquery.appear.js"></script>
	<!-- MeanMenu JS -->
	<script type="text/javascript" src="/js/jquery.meanmenu.min.js"></script>
	<!-- Nivo Slider JS -->
	<script type="text/javascript" src="/js/jquery.nivo.slider.pack.js"></script>
	<!-- Scrollup JS -->
	<script type="text/javascript" src="/js/jquery.scrollup.min.js"></script>
	<!-- simpleLens JS -->
	<script type="text/javascript" src="/js/jquery.simpleLens.min.js"></script>
	<!-- Price Slider JS -->
	<script type="text/javascript" src="/js/jquery-price-slider.js"></script>
	<!-- WOW JS -->
	<script type="text/javascript" src="/js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<!-- Main JS -->
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/cookiesave.js"></script>
</body>

</html>