<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="head :: head">

</head>


<body>
<div class="header-top">
    <!--Start Header Top Area-->
    <header th:replace="header :: header"></header>
</div>


<div class="text-center">
    <h2>CUSTOMER REGISTRATION</h2>
    <h4>Sorry, we could not verify account. It maybe already verified,
        or verification code is incorrect.</h4>

</div>

<div class="footer-top-area fix">
    <!--Start Footer top area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="footer-about">
                    <div class="image">
                        <img src="/img/header/booklogo.png" alt=""/>
                        <h3>online book store</h3>
                    </div>

                </div>
                <div class="footer-contact">
                    <div class="single-contact">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="details">
                            <p>Main town, Anystreen</p>
                            <p>C/A 1254 New Yourk</p>
                        </div>
                    </div>
                    <div class="single-contact">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="details">
                            <p>+012 456 456 456</p>
                            <p>+012 356 897 222</p>
                        </div>
                    </div>
                    <div class="single-contact">
                        <div class="icon">
                            <i class="fa fa-dribbble"></i>
                        </div>
                        <div class="details">
                            <a href="#">info@olongker.com</a>
                            <a href="#">www.olongker.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-quick-link footer-links">
                    <h2>QUICK LINK</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop-left-sidebar.html">New Arrivals</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="portfolio-1.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-8 footer-support footer-links">
                        <h2>OUR SUPPORT</h2>
                        <ul>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">privacy Policy</a></li>
                            <li><a href="#">Help & FAQs</a></li>
                            <li><a href="#">Gift Voucher</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 footer-account footer-links">
                        <h2>my Account</h2>
                        <ul>
                            <li><a href="#">my Account</a></li>
                            <li><a href="#">order History</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Start Footer top area-->


<!-- jQuery 2.1.4 -->
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Owl Carousel JS -->
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<!--countTo JS -->
<script type="text/javascript" src="/js/jquery.countTo.js"></script>
<!-- mixitup JS -->
<script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
<!-- magnific popup JS -->
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<!-- Appear JS -->
<script type="text/javascript" src="/js/jquery.appear.js"></script>
<!-- MeanMenu JS -->
<script type="text/javascript" src="/js/jquery.meanmenu.min.js"></script>
<!-- Nivo Slider JS -->
<script type="text/javascript" src="/js/jquery.nivo.slider.pack.js"></script>
<!-- Scrollup JS -->
<script type="text/javascript" src="/js/jquery.scrollup.min.js"></script>
<!-- simpleLens JS -->
<script type="text/javascript" src="/js/jquery.simpleLens.min.js"></script>
<!-- Price Slider JS -->
<script type="text/javascript" src="/js/jquery-price-slider.js"></script>
<!-- WOW JS -->
<script type="text/javascript" src="/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<!-- Main JS -->
<script type="text/javascript" src="/js/main.js"></script>

</body>

</html>